.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.navbar {
    height: 70px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spacer {
    margin-right: 10px;
}

.nav-item {
    margin-right: 10px;
}
.nav-link {
    color: black;
    font-size: 90%;
}
#navbarCollapse{
    margin: 0 1% 0 0;
}

.btn1{
    border: 2px solid grey;
    height: 80%;
    padding: 1% 0;
    line-height: 10%;
    font-weight: bold;
}
.btn1:hover{
    border: 2px solid deeppink;
    background-color: deeppink;
}
.btn1:hover a.nav-link {
    color: white;
}
.navbar-nav .a:hover {
    color: deeppink;
}
.container-xl {
    width: 100%;
    padding: 0 15px;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggler {
    display: none;
}

@media (max-width: 992px) {
    .navbar{
        height: auto;
    }
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }
    .navbar-toggler {
        display: block;
        margin-top: -5px;
    }
    .city{
        margin: 0 40% 0 0;
    }
    .collapse.show {
        display: flex !important;
        flex-direction: column;
    }

    .navbar-collapse {
        display: none;
    }

    .nav-link {
        margin-bottom: 10px;
    }
    button{
        margin-top: 10%;
    }
    .btn{
        height: 100%;
        width: 120%;
        padding: 2% 1% -1% 1%;
        line-height: 10%;
    }
    .navbar-brand img {
        content: url("https://dostavista.ru/img/ru/logo-valentine-mobile.svg");
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }

    .sidebar {
        width: 100%;
        padding: 0 15px;
    }

    .sidebar .nav-link {
        display: block;
        margin: 10px 0;
    }
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 5px 0;
    }
}
/**/
.section1{
    background-color: rgb(128,128,128,10%);
}
.description{
    font-size: 130%;
}
.first-form{
    background-color: white;
    padding: 5% 0 5% 3%;
    border-radius: 20px;
}
.first-input{
    border: 1px solid grey;
    margin: 2% auto;
    border-radius: 5px;
}
.radio{
    border: 1px solid grey;
    font-size: 70%;
}
.price{
    background-color: deeppink;
    color: white;
    margin: 3% auto;
    border-radius: 20px;
}
.price:hover{
    background-color:hsl(339, 100%, 47%);
    color: white;
}
.firstt{
    position: absolute;
    z-index: 3;
    bottom: -40px;
    right: 10px;
}
.third{
    width: 43%;
    padding: 42px 184px 42px 40px;
    height: 30%;
    border-radius: 40px;
    color: white;
    font-size: 150%;
    background-color: #2d2928;
    position: absolute;
    right: 10%;
    top: 20%;
    z-index: 2
}
.fourth{
    width: 40%;
    padding: 42px;
    height: 388px;
    border-radius: 50px;
    background-color: hsl(339, 100%, 62%);
    position: absolute;
    right: 60px;
    top: 25%;
    z-index: 0;
}
.second {
    width: 40%;
    height: 322px;
    bottom: 20px;
    right: 5%;
    background: url(https://dostavista.ru/img/ru/index/pins.png) no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
}
.image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://static.tildacdn.com/tild6537-6232-4037-b331-663735353136/imgonline-com-ua-Res.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: red;
    border-radius: 50px;
    /*margin: 200px 0 0 180px;*/
    /*width: 80%;*/
    /*height: 19rem;*/
    /*padding: 2% 2% 0 5%;*/
}
.hakan{
    height: 50%;
}
.q{
    margin-left: -3%;
}
.t{
    color: white;
    font-weight: bold;
    width: 46%;
    margin-left: -9%;
}
.z{
    width: 60%;
    height: 11%;
    font-size: 130%;
    background-color: white;
    color: black;
    margin: 25% 0 0 20%;
    border-radius: 20px;
}
.z:hover{
    background-color: rgb(220,220,220);
}
/**/
.third-section{
    padding-left: 100px;
}
#text{
    font-size: 300%;
    width: 50%;
}
.pictures{
    border: 5px solid #f5f5f5;
    background-color: #f5f5f5;
    margin-top: 50px;
    border-radius: 50px;
    width: 250px;
    padding: 20px 0 0 20px;
    margin-right: 50px;
}
.picture{
    width: 220px;
}
/**/
.fourth-section{
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#text1{
    font-size: 300%;
    width: 70%;
}
.picture-first{
    margin-right: 1%;
    width: 250px;
    text-align: center;
    filter: sepia(90%);
}
.picture-first:hover{
    filter: drop-shadow(8px 8px 10px white);
}
.er{
    margin-top: 60px;
}
.er1{
    margin-top: 30px;
}
.u{
    width: 200px;
}
.price-f{
    background-color: deeppink;
    color: white;
    margin: 3% 40%;
    border-radius: 30px;
    height: 70px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
}
.price-f:hover{
    background-color:hsl(339, 100%, 47%);
    color: white;
}
/**/
.fifth-section{
    background-color: #2d2928;
    color: white;
    width: 1200px;
    margin: 30px 150px 30px 150px;
    padding-top: 20px;
    text-align: center;
    border-radius: 50px;
}
.fifth-item{
    margin-bottom: 20px;
}
.i1{
    background-color: deeppink;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    height: 50px;
    width: 500px;
    font-size: 20px;
}
.i1:hover{
    background-color:hsl(339, 100%, 47%);
    color: white;
}
.i2{
    background-color: white;
    border-radius: 30px;
    font-weight: bold;
    height: 50px;
    width: 500px;
    font-size: 20px;
}
.i2:hover{
    background-color:deeppink;
    color: white;
}
.input-f{
    width: 500px;
}
.ui{
    background-color: #2d2928;
    color: white;
    height: 50px;
}
.ui:focus {
    background-color: #2d2928;
    color: white;
}
.ui::placeholder{
    color: white;
}
.checkbox-f{
    width: 500px;
    margin-left: 330px;
}
/**/
#carouselExampleIndicators{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 50px 0;
    background-color: #f5f5f5;
}
.carousel-inner{
    width: 85%;
    margin-left: 200px;
}
.picture-second{
    height: 500px;
}
/**/
.sixth-section{
    background-color: #2d2928;
    color:white;
    border-radius: 50px;
    margin: 1% 5% 1% 10%;
    padding: 2% 3% 2% 3%;
    width: 80%;
    height: 240px;
}
.icon-d{
    width: 80%;
    height: 80%;
}
.tex{
    width: 50%;
}
.first-b{
    display: none;
}
/**/
.seventh-section{
    margin: 2% 0 0 0;
    width: 100%;
    padding: 2% 5%;
    background-color: #f5f5f5;
}
.item-seven{
    background-color: white;
    border-radius: 40px;
    text-align: center;
    padding: 2%;
    width: 25%;
    margin-left: 5%;
    margin-top: 3%;
}
.picture-seven{
    width: 110%;
}
/**/
.eighth-section{
    background-color: #2d2928;
    color:white;
    border-radius: 50px;
    margin: 1% 5% 1% 10%;
    padding: 2% 3% 2% 3%;
    width: 78%;
    height: 200px;
}
.eight{
    width: 100%;
}
.eight-button{
    width: 100%;
    height: 35%;
    font-size: 160%;
    background-color: white;
    font-weight: bold;
    color: #2d2928;
    margin: 25% 0 0 20%;
    border-radius: 20px;
}
.eight-button:hover{
    background-color: rgb(220,220,220);
    color: #2d2928;
}
/**/
.ninth-section{
    background-color: #ff3e80;
    color: white;
    text-align: center;
    /*margin: 5% 20% 1%;*/
    padding: 2%;
    /*width: 60%;*/
    border-radius: 50px;
}
#h1{
    font-weight: bold;
}
#p{
    font-size: 120%;
}
.pink-button{
    width: 25%;
    height: 100%;
    font-weight: bold;
    font-size: 130%;
    background-color: white;
    color: #ff3e80;
    margin: 2% 0;
    border-radius: 20px;
}
.pink-button:hover{
    background-color: rgb(220,220,220);
    color: #ff3e80;
}
.ninth-row{
    margin-left: 20%;
}
.ninth-item{
    margin-right: 1%;
}
.link{
    color: white;
    font-size: 120%;
    font-weight: bold;
}
.ninth-image{
    width: 80%;
}
.ninth-text{
    font-size: 150%;
}
/**/
#t{
    text-align: center;
    margin: 3% 0;
}
.button-r{
    color: #2d2928;
    text-decoration: none;
    font-size: 110%;
}
.button-c:active{
    color: #2d2928;
}
.card-body{
    color:#737373;
}
/**/
.tenth-section{
    background-color: #2d2928;
    color: white;
    border-radius: 50px;
}
.button-tenth{
    background-color: white;
    font-weight: bold;
    color: #2d2928;
    border-radius: 20px;
}
.button-tenth:hover{
    background-color: rgb(220,220,220);
    color: #2d2928;
}
/**/
footer{
    background-color: #2d2928;
    color: white;
}
.ini-s{
    color: #c9ccd2;
}
.third-s{
    color: #c9ccd2;
}
.s-text{
    color: #c9ccd2;
}
ul{
    list-style-type: none;
}
@media (min-width: 1200px) {
    .section1{
        padding: 4% 1% 1% 9%;
    }
    .first-input{
        width: 100%;
    }
    .first-input{
        width: 97%;
    }
    .price{
        width: 96%;
    }
    .firstt{
        width: 10px;
        right: 500px;
        top:100px;
    }
    .second{
        width: 400px;
        top:300px;
        right: 300px;
    }
    .third{
        width: 600px;
        height: 150px;
        top:150px;
        left: 43%;
        font-size: 15px;
        padding: 3%;
    }
    .fourth{
        top: 180px;
        width: 650px;
        left: 46%;
    }
    .image {
        margin: 100px auto;
        width: 1200px;
        height: 350px;
        padding: 3% 5%;
    }
    .t{
        font-size: 20px;
    }
    .z{
        width: 230px;
        height: 50px;
        margin: 100px 0 0 10px;
    }
    .fifth-section{
        width: 90%;
        margin: 10px 40px 0 50px;
    }
    .checkbox-f{
        margin-left: 30%;
    }
    #carouselExampleIndicators{
        padding: 20px 0;
    }
    .carousel-inner{
        width: 80%;
    }
    .sixth-section{
        margin: 0 10%;
        width: 70%;
        height: 100%;
    }
    .tex{
        width: 50%;
    }
    .picture-seven{
    /*    width: 100%;*/
    }
    .eighth-section{
        /*width: 90%;*/
    }
    .eight-button{
        width: 120%;
    }
    .ninth-section{
        margin: 5% 15% 1%;
        width: 70%;
    }
    .ninth-row{
        margin-left:10%;
    }
    .ninth-image{
        width: 40%;
    }
    .card{
        width: 80%;
        margin: 0;
    }
    .tenth-section{
        width: 70%;
        margin: 5% 0 5% 15%;
        padding: 2% 0 2% 2%;
    }
    .button-tenth{
        margin: 15% 0 0;
        width: 90%;
        height:40%;
        font-size: 120%;
    }
    footer{
        padding: 3% 2% 1% 10%;
        width: 100%;
    }
}
@media (max-width: 1200px) and (min-width: 992px){
    .section1{
        padding-top: 2%;
        padding-left: 2%;
    }
    .first-form{
        margin-bottom: 5%;
    }
    .first-input{
        width: 96%;
    }
    .price{
        width: 95%;
        height: 100%;
        margin-top: 5%;
        padding: 1%;
    }
    .firstt{
        display: none;
    }
    .second{
        width: 400px;
        top:300px;
        right: 150px;
    }
    .third{
        width: 500px;
        height: 150px;
        top:150px;
        left: 43%;
        font-size: 15px;
        padding: 3%;
    }
    .fourth{
        top: 180px;
        width: 550px;
        left: 43%;
    }
    .image {
        margin: 50px auto;
        width: 950px;
        height: 350px;
        padding: 5% 5%;
    }
    .t{
        font-size: 20px;
    }
    .z{
        width: 230px;
        height: 50px;
        margin: 100px 0 0 10px;
    }
    #text{
        font-size: 300%;
        width: 90%;
        text-align: center;
    }
    .pictures{
        width: 350px;
        padding: 22px 0 0 60px;
    }
    .picture{
        width: 250px;
    }
    #text1{
        font-size: 200%;
    }
    .picture-first{
        width: 200px;
        text-align: center;
        margin-right: 40px;
        margin-bottom: 40px;
    }
    .price-f{
        margin: 3% 35%;
        height: 50px;
        width: 300px;
        font-size: 20px;
    }
    .fifth-section{
        width: 90%;
        margin: 10px 50px 0 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .ui{
        width: 500px;
    }
    .checkbox-f{
        width: 550px;
        margin-left: 150px;
    }
    .i1{
        margin-top: -5px;
    }
    .i2{
        margin-top: -5px;
    }
    #carouselExampleIndicators{
        padding: 20px 0;
    }
    .carousel-inner{
        width: 80%;
        margin-left: 150px;
    }
    .picture-second{
        height: 500px;
    }
    .sixth-section{
        margin: 0 5%;
        width: 90%;
        height: 100%;
    }
    .tex{
        width: 60%;
    }
    .seventh-section{
        margin-left: 0;
    }
    .item-seven{
        padding: 3%;
        width: 30%;
        margin-right: 3%;
        margin-left: 0;
    }
    .picture-seven{
        width: 100%;
    }
    .eight-button{
        width: 120%;
        margin-left:-10%;
    }
    .ninth-section{
        margin: 5% 2% 1%;
        padding: 4%;
        width: 92%;
    }
    #p{
        font-size: 110%;
    }
    .pink-button{
        width: 30%;
        height: 45px;
        font-size: 120%;
        margin: 3% 0;
    }
    .ninth-row{
        margin-left:5%;
    }
    .ninth-item{
        margin-right: 0;
    }
    .ninth-image{
        width: 40%;
    }
    .ninth-text{
        /*font-size: 100%;*/
    }
    .card{
        width:92%;
    }
    .card-header{
        height: 3rem;
    }
    .button-r{
        margin-top: 0;
        margin-left: 0;
        font-size: 90%;
        line-height: 100%;
        text-align: left;
        width: 110%;
    }
    .tenth-section{
        width: 80%;
        margin: 5% 0 5% 3%;
        padding: 2% 0 2% 2%;
    }
    .button-tenth{
        margin: 15% 0 0;
        width: 88%;
        height:40%;
        font-size: 130%;
    }
    footer{
        padding: 4% 3%;
        width: 98%;
    }
    .third-s{
        margin-top: 1%;
        margin-left: 2%;
        width: 30%;
    }
    .img{
        margin-bottom: 2%;
    }
    #skolkovo__icon{
        margin-top: 5%;
        width: 46%;
        height: 30%;
    }
    .s-text{
        font-size: 90%;
        margin: -25% 1% 0 30%;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .section1{
        padding-top: 3%;
        padding-left: 3%;
    }
    .first-form{
        margin-bottom: 5%;
    }
    .first-input{
        width: 96%;
    }
    .radio{
        font-size: 60%;
    }
    .price{
        width: 95%;
        height: 100%;
        margin-top: 5%;
        padding: 5%;
    }
    .firstt{
        display: none;
    }
    .second{
        width: 400px;
        top:300px;
    }
    .third{
        width: 55%;
        height: 150px;
        top:150px;
        left: 43%;
        font-size: 15px;
        padding: 5%;
    }
    .fourth{
        top: 180px;
        width: 440px;
        left: 43%;
    }
    .image {
        margin: 50px auto;
        width: 750px;
        height: 400px;
        padding: 5% 5%;
    }
    .t{
        font-size: 18px;
        width: 300px;
        text-align: center;
    }
    .z{
        width: 200px;
        height: 50px;
        margin: 130px 0 0 5px;
    }
    #text{
        font-size: 250%;
        width: 90%;
    }
    .pictures{
        width: 220px;
        padding: 22px 0 0 20px;
    }
    .picture{
        width: 150px;
    }
    #text1{
        font-size: 150%;
    }
    .picture-first{
        width: 200px;
        text-align: center;
        margin-right: 40px;
        margin-bottom: 40px;
    }
    .price-f{
        margin: 3% 30%;
        height: 50px;
        width: 250px;
        font-size: 20px;
    }
    .fifth-section{
        width: 90%;
        margin: 10px 50px 0 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .ui{
        width: 500px;
    }
    .checkbox-f{
        width: 550px;
        margin-left: 60px;
    }
    .i1{
        margin-top: -5px;
    }
    .i2{
        margin-top: -5px;
    }
    #carouselExampleIndicators{
        padding: 20px 0;
    }
    .carousel-inner{
        width: 100%;
        margin-left: 0;
    }
    .picture-second{
        height: 400px;
    }
    .mini{
        display: none;
    }
    .first-d{
        display: none;
    }
    .first-b{
        margin-left: 100%;
        display: inline-block;
    }
    .image-container{
        margin-top: 5%;
        margin-left: 10%;
        width: 200%;
    }
    .tex{
        width: 70%;
        text-align: center;
    }
    .item-seven{
        padding: 2%;
        width: 45%;
        margin-left: 3%;
        margin-top: 5%;
    }
    .picture-seven{
        width: 100%;
    }
    .eighth-section{
        margin: 7% 3%;
        padding:3% 0 3% 5%;
        width: 90%;
        height: 100%;
    }
    .eight-button{
        width: 100%;
        margin-left:-10%;
    }
    .eight-text{
        font-size: 80%;
    }
    .ninth-section{
        margin: 5% 2% 1%;
        padding: 4%;
        width: 92%;
    }
    #p{
        font-size: 110%;
    }
    .pink-button{
        width: 30%;
        height: 45px;
        font-size: 120%;
        margin: 3% 0;
    }
    .ninth-row{
        margin-left:3%;
    }
    .ninth-item{
        margin-right: 0;
    }
    .ninth-image{
        width: 50%;
    }
    .ninth-text{
        /*font-size: 100%;*/
    }
    .card{
        width:95%;
        /*background-color: yellow;*/
    }
    .card-header{
        height: 3rem;
    }
    .button-r{
        margin-top: -1%;
        margin-left: -3%;
        font-size: 90%;
        line-height: 100%;
        text-align: left;
        width: 110%;
    }
    .tenth-section{
        width: 70%;
        margin: 5% 0 5% 12%;
        padding-top: 3%;
        padding-bottom: 6%;
        text-align: center;
        padding-left: 10%;
        height: 100%;
    }
    .button-tenth{
        margin: 1% 0 0 1%;
        width: 90%;
        height:170%;
        font-size: 130%;
    }
    footer{
        padding: 4% 1%;
        width: 98%;
    }
    .third-s{
        margin-left: 2%;
        width: 30%;
    }
    .img{
        margin-bottom: 2%;
    }
    #skolkovo__icon{
        margin-top: 5%;
        width: 46%;
        height: 30%;
    }
    .s-text{
        font-size: 90%;
        margin: -30% 1% 0 30%;
    }
}
@media (max-width: 768px) and (min-width: 576px){
    .section1{
        padding-top: 5%;
    }
    .first-input{
        width: 96%;
    }
    .price{
        width: 95%;
        height: 100%;
        margin-top: 5%;
        padding: 5%;
    }
    .firstt,.second,.third,.fourth{
        display: none;
    }
    .image {
        margin: 50px auto;
        width: 450px;
        height: 690px;
        padding: 5% 15%;
    }
    .t{
        font-size: 15px;
        width: 500px;
        margin-top: -250px;
        text-align: center;
    }
    .z{
        width: 250px;
        height: 50px;
        margin: 5px 0 0 5px;
    }
    #text{
        font-size: 250%;
        width: 90%;
    }
    .pictures{
        width: 220px;
        padding: 22px 0 0 20px;
    }
    .picture{
        width: 150px;
    }
    .third-section{
        padding-left: 50px;
    }
    #text{
        font-size: 150%;
    }
    #text1{
        font-size: 170%;
    }
    .price-f{
        margin: 3% 15%;
        height: 50px;
        width: 250px;
        font-size: 20px;
    }
    .fifth-section{
        width: 100%;
        margin: 10px 0 0 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .checkbox-f{
        width: 550px;
        margin-left: 5px;
    }
    .i1{
        margin-top: -5px;
    }
    .i2{
        margin-top: -5px;
    }
    #carouselExampleIndicators{
        padding: 10px;
    }
    .carousel-inner{
        width: 100%;
        margin-left: 1%;
    }
    .picture-second{
        height: 300px;
    }
    .sixth-section{
        margin: 0 15%;
        padding: 3% 0 3% 5%;
        width: 70%;
        height: 100%;
    }
    .icon-d{
        width: 120%;
        height: 120%;
        margin-left: 160%;
    }
    .mini{
        display: none;
    }
    .first-d{
        display: none;
    }
    .first-b{
        margin-left: 140%;
        display: inline-block;
        padding: 10%;
    }
    .tex{
        width: 90%;
        text-align: center;
        margin-top: 1%;
    }
    .seventh-section{
        width: 100%;
    }
    .item-seven{
        text-align: center;
        padding: 3%;
        width: 70%;
        margin-left: 3%;
        margin-top: 3%;
    }
    .picture-seven{
        width: 100%;
    }
    .eighth-section{
        margin: 7% 4%;
        padding:5% 0 10% 5%;
        width: 80%;
        height: 100%;
    }
    .eight{
        margin-left: 20%;
    }
    .eight-button{
        width: 100%;
        height: 200%;
        margin: 0 0 0 20%;
    }
    .eight-text{
        font-size: 90%;
        width: 90%;
        text-align: center;
    }
    .ninth-section{
        margin: 5% 2% 1%;
        padding: 5%;
        width: 97%;
    }
    #p{
        font-size: 110%;
    }
    .pink-button{
        width: 50%;
        height: 45px;
        font-size: 120%;
        margin: 3% 0;
    }
    .ninth-row{
        margin-left: 0;
    }
    .ninth-item{
        margin-right: 0;
    }
    .ninth-image{
        width: 60%;
    }
    .ninth-text{
        /*font-size: 100%;*/
    }
    .card{
        width:96%;
    }
    .card-header{
        height: 4rem;
    }
    .button-r{
        margin-top: -2%;
        margin-left: -4%;
        font-size: 90%;
        line-height: 100%;
        text-align: left;
        width: 110%;
    }
    .tenth-section{
        width: 70%;
        margin: 5% 0 5% 12%;
        padding-top: 3%;
        padding-bottom: 6%;
        text-align: center;
        padding-left: 10%;
        height: 100%;
    }
    .button-tenth{
        margin: 1% 0 0 1%;
        width: 90%;
        height:170%;
        font-size: 130%;
    }
    footer{
        padding: 4% 0;
        width: 98%;
    }
    .ini-s{
        text-align: center;
    }
    .first-s{
        text-align: center;
    }
    .third-s{
        margin-left: 30%;
        width: 70%;
    }
    .img{
        margin-bottom: 2%;
    }
    #skolkovo__icon{
        margin-top: 5%;
        width: 46%;
        height: 30%;
    }
    .s-text{
        font-size: 90%;
        text-align: center;
        margin: 0 15%;
    }
}
@media (max-width: 576px) {
    .section1{
        padding-top: 5%;
    }
    .first-form{
        width: 100%;
    }
    .first-input{
        width: 96%;
    }
    .buttons{
        margin-top: -5%;
    }
    .first-button{
        padding-right: 5%;
        margin-top: -5%;
    }
    .radio{
        width: 45%;
        height: 50%;
    }
    .price{
        width: 95%;
        height: 100%;
        margin-top: 5%;
        padding: 5%;
    }
    .firstt{
        display: none;
    }
    .second{
        display: none;
    }
    .third{
        display: none;
    }
    .fourth{
        display: none;
    }
    .image {
        margin: 50px auto;
        width: 270px;
        height: 600px;
        padding: 5% 10%;
    }
    .hakan{
        width: 200px;
        height: 200px;
        padding-left: 20px;
    }
    .t{
        font-size: 10px;
        width: 260px;
        margin: 5px;
        text-align: center;
    }
    .z{
        width: 200px;
        height: 50px;
        margin: 10px 0 0 10px;
    }
    .third-section{
        padding-left: 50px;
    }
    #text{
        font-size: 150%;
    }
    .pictures{
        width: 170px;
    }
    .picture{
        width: 100px;
    }
    #text1{
        font-size: 150%;
    }
    .picture-first{
        width: 150px;
        text-align: center;
    }
    .price-f{
        margin: 3% 3%;
        height: 50px;
        width: 250px;
        font-size: 20px;
    }
    .fifth-section{
        width: 100%;
        margin: 10px 0 0 0;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 40px;
    }
    .checkbox-f{
        width: 250px;
        margin-left: 10px;
    }
    .input-f{
        width: 270px;
    }
    .fifth-item{
        margin-bottom: 10px;
    }
    .i1{
        width: 250px;
    }
    .i2{
        width: 250px;
        font-size: 19px;
    }
    #carouselExampleIndicators{
        padding: 10px 0;
    }
    .carousel-inner{
        width: 100%;
        margin-left: 0;
    }
    .picture-second{
        height: 200px;
    }
    .sixth-section{
        border-radius: 40px;
        margin: 0 6px;
        padding: 5% 2% 1% 2%;
        width: 95%;
        height: 10%;
    }
    .icon-d{
        width: 70%;
        height: 70%;
        margin-left: 15%;
    }
    .mini{
        display: none;
    }
    .first-d{
        display: none;
    }
    .first-b{
        margin-left: 25%;
        display: inline-block;
        padding: 3%;
    }
    .tex{
        width: 100%;
        text-align: center;
        margin-top: -15%;
    }
    .seventh-section{
        margin: 10% 0 0 0;
        width: 100%;
    }
    .item-seven{
        padding: 5%;
        width: 90%;
    }
    .eighth-section{
        margin: 20% 2px;
        padding:5% 5% 20% 5%;
        width: 99%;
        height: 100%;
    }
    .eight{
        width: 90%;
    }
    .eight-button{
        width: 90%;
        height: 200%;
        margin: 1% 0 0 2%;
    }
    .eight-text{
        font-size: 90%;
        text-align: center;
    }
    .ninth-section{
        margin: 5% 1% 1%;
        padding: 7%;
        width: 97%;
    }
    #p{
        font-size: 110%;
    }
    .pink-button{
        width: 80%;
        height: 35px;
        font-size: 100%;
        margin: 3% 0;
    }
    .ninth-row{
        margin-left: 0;
    }
    .ninth-item{
        margin-right: 0;
    }
    .ninth-image{
        width: 25%;
    }
    .ninth-text{
        font-size: 100%;
    }
    .card{
        width:98%;
        /*background-color: yellow;*/
    }
    .card-header{
        height: 4.5rem;
    }
    .button-r{
        margin-top: -3%;
        margin-left: -5%;
        font-size: 80%;
        line-height: 100%;
        text-align: left;
        width: 110%;
    }
    .tenth-section{
        width: 97%;
        margin: 5% 1% 5%;
        padding-top: 7%;
        padding-bottom: 9%;
        padding-left: 5%;
        height: 100%;
    }
    .button-tenth{
        margin: 1% 0 0 0;
        width: 100%;
        height:140%;
        font-size: 130%;
    }
    footer{
        padding: 5% 0;
        width: 96%;
    }
    .ini-s{
        text-align: center;
    }
    .first-s{
        width: 90%;
        text-align: center;
    }
    .third-s{
        margin-left: 20%;
        width: 78%;
    }
    .img{
        margin-bottom: 2%;
    }
    #skolkovo__icon{
        margin-top: 5%;
        width: 46%;
        height: 30%;
    }
    .s-text{
        font-size: 90%;
        text-align: center;
        margin: 0 7%;
    }
}
